<ion-header>
  <ion-toolbar>
    <ion-title>DropPack Inc.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <section>
    <ion-button expand="block" href="home" vertical="center">Administrador de productos</ion-button>
  </section>

  <ion-fab horizontal="bottom" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon md="caret-forward" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



</ion-content>
