<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Registro de Productos
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="productForm" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="Price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Link Aliexpress</ion-label>
      <ion-input formControlName="AliexpressLink"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Link Imagen</ion-label>
      <ion-input formControlName="LinkImage"></ion-input>
    </ion-item>


    <ion-item>
      <ion-button (click)="CreateRecord()" [disabled]="productForm.invalid">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Crear pedido
      </ion-button>
    </ion-item>

  </form>


  <ion-card *ngFor="let item of productList" color="primary">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.Name}}</ion-card-title>
        <ion-card-subtitle>Precio: {{item.Price}}</ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>

        <img src="{{item.LinkImage}}" alt="">

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

        </ion-button>

        <ion-button shape="round" color="danger" size="small" href="{{item.AliexpressLink}}">
          <ion-icon size="small" slot="icon-only" name="link-outline"></ion-icon>

        </ion-button>

      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Cancelar
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Actualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Nombre</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Price</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditPrice"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>AliexpressLink</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAliexpressLink"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>ImageLink</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditLinkImage"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

</ion-content>